# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv*/
venv/
env/
.ipynb_checkpoints/

# Arduino / PlatformIO
.pio/
.pioenvs/
.piolibdeps/
build/
*.hex
*.elf

# Eagle CAD backups
*.b#*
*.s#*
*.lck

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp

# Logs / temp
*.log
*.tmp
